:root {
  --white: #ffffff;
  --light-green: #84a98c;
  --dark-green: #52796f;
  --grey: #777777;
  --extra-light-grey: #e5e2e2;
}

html {
  scroll-behavior: smooth;
  max-height: 50vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

/* *************************************** HEADER ************************************************************** */

.header {
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  align-items: center;
  position: fixed;
}

.header__img {
  max-width: 200px;
  border-radius: 50%;
  padding: 10px;
}

.header__title {
  font-weight: bold;
  font-size: 3rem;
  color: var(--white);
  margin: 0;

  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.header__p {
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
}

.header__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__list > a:hover {
  background-color: white;
  color: lightseagreen;
}

.header__list > a {
  border-top: 1px solid var(--white);
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  padding: 1.5rem;
}

.header__list__borderBottom {
  border-bottom: 1px solid var(--white);
}

.header__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  align-items: center;
  max-width: 100%;
  padding: 0;
  margin-top: 30px;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.fab fa-instagram {
  text-decoration: none;
}

.fab fa-twitter {
  text-decoration: none;
  color: black;
}

.icon.twitter > a {
  color: black;
}

.icon.instagram > a {
  color: black;
}

.icon.github > a {
  color: black;
}

.icon.twitter:hover {
  color: white;
}

.twitter {
  --color: #1da1f2;
}

.instagram {
  --color: #e4405f;
}
.github {
  --color: #333333;
}

.icon:hover,
.icon:hover .tooltip,
.icon:hover .tooltip::before {
  background: var(--color);
  color: white;
}

.icon:visited {
  color: black;
}

.icon:hover .fab {
  color: white;
}

.buttonCV {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #e3e3e3;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.buttonCV:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}
.buttonCV:active {
  position: relative;
  top: 1px;
}
.buttonDowloadCV {
  display: flex;
  justify-content: center;
}

.headerSocial {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

.btnLink {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  text-decoration: none;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background-color: #84a98c;
  padding: 10px 20px;
  border: solid #84a98c 1px;
  box-shadow: none;
  border-radius: 17px;
  transition: 210ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  transition: 610ms;
  padding: 10px 20px;
  background-color: #fff;
  color: #84a98c;
  border: solid 1px #84a98c;
}

/* *************************************************************  MAIN  ********************************************************** */

.right {
  display: flex;
  justify-content: flex-end;
}

.main {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  flex-direction: column;
}

.imgTop {
  display: flex;
  width: 100%;
}

.imgTop > img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.aPropos {
  display: flex;
  justify-content: center;
  border-bottom: 5px solid var(--extra-light-grey);
}

.aPropos__center,
.connaissances__center,
.projects__center,
.contact__center {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
}

.aPropos__center > h2 {
  margin: 3rem 0;
  color: var(--dark-green);
  font-weight: bold;
  font-size: 6rem;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.projects__center > p {
  color: var(--grey);
  font-size: 1.22rem;
}

.aPropos__center > p {
  color: var(--grey);
  font-size: 1.25rem;
}

.connaissances,
.projects {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  border-bottom: 5px solid var(--extra-light-grey);
}

.contact {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

h3 {
  color: var(--grey);
  font-size: 3rem;
  margin: 0;
}

h5 {
  line-height: 1.7rem;
  font-size: 1.1rem;
  color: var(--grey);
  padding-left: 40px;
  align-items: center;
}

.connaissances__center__logo > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ulStyle {
  margin-top: 50px;
  padding-left: 0;
}

.liStyle {
  list-style-type: none;

  padding: 25px;
  margin: 15px;
  border-radius: 50%;
  background-color: #84a98c;
}

.projects__projet {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
}

.projects__projet__total {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  height: 400px;
  border-bottom: 5px solid var(--extra-light-grey);
}
.border-none {
  border: none;
}

.projects__projet__img {
  display: flex;
  flex: 0 0 60%;
  justify-content: center; /* Centrer l'image horizontalement */
  align-items: center; /* Centrer l'image verticalement */
}

.image {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.image:hover {
  -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
  filter: grayscale(0%);
  -webkit-box-shadow: 9px 9px 11px -3px rgba(0, 0, 0, 0.43);
  box-shadow: 9px 9px 11px -3px rgba(0, 0, 0, 0.43);
}

/* .projects__projet__img:hover {
    width: 60%;
    height: 60%;
    cursor: pointer;
    position: fixed;
    top: 100px;
    align-items: center;
    object-fit: contain;
    z-index: 2;
}

.projects__projet__img.enlarged>img {

} */

.projects__projet__details {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  width: 100%;
}

.projects__projet__details > p {
  margin: 0;
  padding-left: 40px;
  color: var(--grey);
}

h4 {
  font-size: 2rem;
  margin: 0;
  padding-left: 40px;
  color: var(--grey);
  text-align: center;
  text-decoration: underline;
}

input,
textarea {
  border: 1px solid var(--extra-light-grey);
}

.contact__form {
  width: 100%;
}

.contact__center {
  width: 100%;
}

.form__buttons {
  display: flex;
  justify-content: center;
}

.form__input {
  width: 100%;
  display: flex;
  padding: 15px 0;
  align-items: center;
}

.textZone {
  padding: 15px 0;
}

.sujet {
  padding: 15px 0;
}

#name,
#email {
  padding: 15px;
  margin: 5px;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}

#subject {
  padding: 15px;
  margin: 5px;
  width: 100%;
}

#message {
  resize: none;
  width: 100%;
}

.button {
  padding: 15px 50px;
  margin: 10px;
}

.un {
  background-color: var(--light-green);
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
}

footer {
  margin-top: 20px;
  height: 50px;
  background-color: var(--extra-light-grey);
  text-align: center;
  color: var(--grey);
}

/* .activeSplit {
  display: block;
  text-align: center;
}

.activeSplit::after {
  content: "ssance";
  display: block; 
}

.activeSplit::before {
  content: "Connai-"; 
} */
@media screen and (max-width: 1200px) {
  .header__title {
    font-size: 1rem;
  }

  .header__p {
    text-align: center;
  }

  .icon.twitter,
  .icon.instagram,
  .icon.github {
    margin: 2px;
  }

  .header__img {
    width: 80%;
  }

  .projects__projet__img > img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  .ulStyle {
    justify-content: center;
    gap: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .header__p {
    text-align: center;
  }

  .ulStyle {
    gap: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .header__social {
    display: none;
  }

  .buttonDownloadCV {
    padding: 5px;
    margin-top: 5px;
  }

  .header__p {
    max-width: 100%;
    overflow: hidden;
  }

  .aPropos__center {
    max-width: 95%;
  }

  .connaissances__center {
    max-width: 95%;
  }

  .contact__center {
    max-width: 95%;
  }

  .projects__center {
    max-width: 95%;
  }

  .projects__projet__details > h4 {
    font-size: 1.1rem;
    padding: 5px;
  }

  .projects__projet__details > h5 {
    font-size: 1rem;
    margin: 5px;
    padding: 0;
  }

  .projects__projet__details > p {
    padding: 0;
    margin-top: 10px;
  }

  .buttonCV {
    padding: 0.1rem;
  }
}
@media screen and (max-width: 750px) {
  .header__img {
    width: 70%;
  }
  .header__title {
    font-size: 1rem;
    text-align: center;
  }
  .header__list > a {
    font-size: 1rem;
  }

  #aPropos {
    font-size: 3rem;
    margin: 0.5rem;
  }

  .aPropos__center > h3 {
    font-size: 1.5rem;
  }

  .aPropos__center > p {
    font-size: 1rem;
  }

  .connaissances {
    margin-top: 10px;
  }

  #knowledge {
    font-size: 1.5rem;
  }

  .ulStyle {
    margin: 0;
  }

  .projects {
    margin: 5px;
  }

  .projects__center > p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  #projects {
    font-size: 1.5rem;
  }

  .buttonCV {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  footer {
    display: none;
  }

  .header__p {
    font-size: 0.8rem;
    margin: 0;
  }

  .header__list {
    margin: 5px;
  }

  .header__list > a {
    padding: 0.5rem;
  }

  .buttonCV {
    padding: 0.1rem;
    font-size: 0.8rem;
  }

  .projects__projet__total {
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  .projects__projet__details {
    display: flex;
    flex-direction: column;
  }
  .projects__projet__details > h4 {
    font-size: 1rem;
  }
  .projects__projet__details > p {
    display: none;
  }
  .projects__projet__img {
    width: 80%;
    display: block;
  }
}

@media screen and (max-width: 550px) {
  #knowledgeLink {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
